.wy-side-nav-search {
    background-color: #4b17e5;
}

.wy-nav-top {
    background: #4b17e5;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #E2E8F0;
}

html.writer-html4 .rst-content dl:not(.docutils)>dt, html.writer-html5 .rst-content 
dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt {
    background: #d9ccff;
    color: #4b17e5;
    border-top: 3px solid #4b17e5;
}